/* Import easings variables */
@import "../index.css";

/* Declare other variables on the root pseudo-class  */
:root {
	--background-color: #1f1f1f;
	--link-color: #eee;
	--sub-size: 10px;
}

/* Test variables on the root pseudo-class  */
body {
	background-color: var(--background-color);
}
sub {
	font-size: var(--sub-size);
}
a {
	color: var(--link-color);
}

/* Test easing variables  */
h1 {
	color: chocolate;
	transition: all .5s var(--easeInSine);
}
h1:hover {
	color: lemonchiffon;
	transition: all .5s var(--easeOutSine);
}

h2 {
	color: chocolate;
	transition: all 2s var(--ease-in-sine);
}
h2:hover {
	color: lemonchiffon;
	transition: all 2s var(--ease-out-sine);
}
